{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
    <title>Welcome</title>
</head>
<body>
    <section id="Heading">
        <svg viewBox="0 0 1250 200">
            <symbol id="s-text">
                <text text-anchor="middle" x="50%" y="80%">Meeting Planner</text>
            </symbol>

            <g class="g-ants">
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
            </g>
        </svg>
        
        <div class="buttons">
            <center>
            <a href="{% url 'rooms' %}" class="button"> 
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Rooms List 
            </a>
            
            <a href="{% url 'new' %}" class="button button2">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Add a New Meeting
            </a>
        </center>
        </div>
    </section>
    <section id="list">
        <div class="meetingheading">
            <h2>Meetings List</h2>
        </div>
        <section class="meetinglist">
            <ul>
                {% for meeting in meeting %}
                        <li class="pp">
                            
                                <a href="{% url 'detail' meeting.id %}" class="meetinglist1" >{{meeting.title}}</a>

                        </li>

                {% endfor %}
            </ul>
        </section>
    </section>
</body>
</html>